<!DOCTYPE html>
<html>
    <head>
        <title>CoviDIoT - Overview </title>
    </head>
    <body><h1>CoviDIoT - Overview</h1>
        <h2>Device list:</h2>
        <table>
        <tr><th>Device ID</th><th>Key</th><th>Registration date</th><th>Firmware ID</th></tr>
        {% for device in devices %}
        <tr><td>{{ device.id }}</td><td>{{ device.key }}</td><td>{{ device.registration_date }}</td><td>{{ device.firmware_id }}</td></tr>
        {% endfor %}
        </table>
        <h2>Maybe infected:</h2>
        <table>
        <tr><th>Device ID</th><th>Proximity</th><th>Time exposed</th></tr>
        {% for i in infected %}
        <tr><td>{{ i.id }}</td><td>{{ i.proximity }}</td><td>{{ i.time_exposed }}</td></tr>
        {% endfor %}
        </table>
    </body>
</html>