<html>
  <head>
    <title>Flask Intro - register page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Signing up</h1>
      {% if usererror %}
        <p class="error"><strong>Error:</strong> {{ usererror }}
      {% endif %}
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
          <br>
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
          <br>
        <input class="btn btn-default" type="submit" value="Sign up">
      </form>
      {% if passworderror %}
        <p class="error"><strong>Error:</strong> {{ passworderror }}
      {% endif %}
    </div>
  </body>
</html>
